@model ClevelandBlogs.Models.PostModels.PostDetail

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

<div class="row">
    <div class="col-lg-8">
        <img class="img-fluid img-rounded" alt="" src="~/Assets/dj-johnson-jYtgDr-0AyM-unsplash.jpg" style="width: 50rem"/>
        <div class="row">
            <div class="col-sm-10">
                <h1>@Html.DisplayFor(model => model.Title)</h1>
                <p>@Html.DisplayFor(model => model.Content)</p>
            </div>
        </div>      
    </div>
    
    

    @*<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>*@
</div>
<p>
    @Html.ActionLink("Back to List", "IndexCategory")
</p>
