@model ClevelandBlogs.Models.PostModels.PostDetail

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@
<section class="post-body">
    <div class="row">
        <div class="col-lg-8">
            @*<img class="img-fluid img-rounded" alt="" src="~/Assets/dj-johnson-jYtgDr-0AyM-unsplash.jpg" style="width: 50rem"/>*@
            <div class="row">
                <div class="col-sm-10">
                    <h1>@Html.DisplayFor(model => model.Title)</h1>
                    <p>@Html.DisplayFor(model => model.Content)</p>
                    <h4>@Html.DisplayNameFor(model => model.CreatedUtc)</h4>
                    <h5>@Html.DisplayFor(model => model.CreatedUtc)</h5>
                    <h4>@Html.DisplayNameFor(model => model.ModifiedUtc)</h4>
                    <h5>@Html.DisplayFor(model => model.ModifiedUtc)</h5>
                </div>
            </div>      
        </div>
    </div>
</section>
@*<p>
    @Html.ActionLink("Back to List", "IndexCategory")
</p>*@
