@model IEnumerable<ClevelandBlogs.Models.PostModels.PostListItem>

@{
    ViewBag.Title = "Index";
}

@*<h2>My Posts</h2>*@

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>*@
<div>
    <a class="social-link py-4 w-100">
        @Html.ActionLink("Create New", "Create")
    </a>
</div>

@foreach (var item in Model)
{
    <section class="post-body">
        <div class="row">
            <div class="col-lg-8">
                @*<img class="img-fluid img-rounded" alt="" src="~/Assets/dj-johnson-jYtgDr-0AyM-unsplash.jpg" style="width: 50rem"/>*@
                <div class="row">
                    <div class="col-sm-10">
                        <h1>@Html.DisplayFor(model => item.Title)</h1>
                        <h4>@Html.DisplayNameFor(model => model.CreatedUtc)</h4>
                        <h5>@Html.DisplayFor(model => item.CreatedUtc)</h5>
                    </div>
                </div>
            </div>
            <aside class="col-md-1">
                <div class="row">
                    <div class"col-sm-4">
                        <a>
                            @Html.ActionLink("Edit", "Edit", new { id = item.PostId })
                        </a>
                    </div>
                    <div class"col-sm-4">
                        <a>
                            @Html.ActionLink("Details", "Details", new { id = item.PostId })
                        </a>
                    </div>
                    <div>
                        <a class="social-link py-4 w-100">
                            @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
                        </a>
                    </div>
                </div>
            </aside>
        </div>
    </section>
    @*<tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PostId })

            </td>
        </tr>*@
}

@*</table>*@
